name: Build and Deploy AMI

on:
  workflow_dispatch:
  pull_request:
    branches: 
      - main
    types: [closed]

jobs:
  build_and_deploy_ami:
    if: ${{ github.event.pull_request.merged }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup envirornment variables
        run: |
          touch .env
          echo PORT=${{ vars.PORT }} >> .env
          echo DB_HOST=${{ vars.DB_HOST }} >> .env
          echo DB_NAME=${{ vars.DB_NAME}} >> .env
          echo DB_USER=${{ vars.DB_USER }} >> .env
          echo DB_PASSWORD=${{ secrets.DB_PASSWORD }} >> .env
          echo DB_DIALECT=${{ vars.DB_DIALECT }} >> .env
          echo USER_CSV_PATH=${{ vars.USER_CSV_PATH }} >> .env
          echo NODE_ENV=${{ vars.NODE_ENV }} >> .env

      - name: zip application
        run: zip -r webapp.zip .

      - name: Packer init
        run: |
          packer init ./packer/ami.pkr.hcl

      - name: Build AMI
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          packer build ./packer/ami.pkr.hcl
        